<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Student</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <!-- CSS Files -->
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    <link href="Content/light-bootstrap-dashboard.css?v=2.0.0 " rel="stylesheet" />
    <link href="css/pe-icon-7-stroke.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body style="">
    <div class="wrapper">
        <div class="sidebar" data-image="https://mobirise.com/bootstrap-carousel/assets2/images/thomas-smith-399133-1707x2560.jpg" data-color="purple">
            <!--
                Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

                Tip 2: you can also add an image using data-image tag
            -->
            <div class="sidebar-wrapper">
                <div class="logo">
                    <a href="/" class="simple-text">
                        Student Dashboard
                    </a>
                </div>
                <ul class="nav">
                    <li>
                        <a class="nav-link" href="">
                            <i class="fa fa-tachometer"></i>
                            <p>Dashboard</p>
                        </a>
                    </li>

                    <li>
                        <a class="nav-link" href="">
                            <i class="fa fa-user"></i>
                            <p>Profile</p>
                        </a>
                    </li>

                    <li>
                        <a class="nav-link" href="">
                            <i class="fa fa-briefcase"></i>
                            <p>Jobs</p>
                        </a>
                    </li>


                    <li class="nav-item active active-pro">
                        <a class="nav-link active" href="">
                            <i class="fa fa-power-off"></i>
                            <p>Logout</p>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg " color-on-scroll="500">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#pablo"> Dashboard </a>
                    <button href="" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-bar burger-lines"></span>
                        <span class="navbar-toggler-bar burger-lines"></span>
                        <span class="navbar-toggler-bar burger-lines"></span>
                    </button>

                </div>
            </nav>
            <!-- End Navbar -->


            <style>
                .pe-7 {
                    color: rgb(0,0,0,0.5)
                }

                    .pe-7:hover {
                        color: rgb(0,0,0,0.5) !important;
                    }
            </style>

            <div class="container" style="padding-top: 40px;">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <h3 style="text-align : center;">Statistics</h3>
                            <div class="row" style="text-align: center; padding : 40px; color : #fff ; padding-top: 10px;">

                                <div class="col-sm-6" style="border-radius: 15px ; background-color : #00ccff ; padding: 10px; border : solid 4px #fff;">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <b><i class="fa fa-graduation-cap pe-7" style="font-size: 80px; padding-top:15px ; color : rgb(0,0,0,0.3);"></i></b>
                                        </div>
                                        <div class="col-sm-7" style="font-size: 20px; padding:10px;">
                                            Students<br>
                                            <b style="font-size : 40px" ;>6000</b>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6" style="border-radius: 15px ; background-color : #47d147; padding: 10px; border : solid 4px #fff;">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <b><i class="fa fa-envelope-open-o pe-7" style="font-size: 80px; padding-top:15px ; color : rgb(0,0,0,0.3);"></i></b>
                                        </div>
                                        <div class="col-sm-7" style="font-size: 20px; padding:10px;">
                                            Jobs<br>
                                            <b style="font-size : 40px" ;>1000</b>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6" style="border-radius: 15px ; background-color : #ff4d94  ; padding: 10px; border : solid 4px #fff;">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <b><i class="fa fa-bank pe-7" style="font-size: 80px; padding-top:15px ; color : rgb(0,0,0,0.3);"></i></b>
                                        </div>
                                        <div class="col-sm-7" style="font-size: 20px; padding:10px;">
                                            Companies<br>
                                            <b style="font-size : 40px" ;>100</b>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6" style="border-radius: 15px ; background-color : #ffa31a ; padding: 10px; border : solid 4px #fff;;">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <b><i class="fa fa-gear pe-7" style="font-size: 80px; padding-top:15px ; color : rgb(0,0,0,0.3);"></i></b>
                                        </div>
                                        <div class="col-sm-7" style="font-size: 20px; padding:10px;">
                                            Account Type<br>
                                            <div style="display:none"></div>
                                            <b style="font-size : 30px" ;>Student</b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-sm-12">
                        <div class="card ">
                            <br>
                            <div class="header">
                                <h3 class="title" style="text-align: center">Your Information</h3>
                            </div>
                            <br>
                            <div class="row" style="text-align: center">
                                <div class="col-sm-6">
                                    <h4>Name : <b>Hasnat</b></h4>
                                </div>
                                <div class="col-sm-6">
                                    <h4>Email : <b>l181191@lhr.nu.edu.pk</b></h4>
                                </div>
                                <div class="col-sm-6">
                                    <h4>Education : <b>BSCS</b></h4>
                                </div>
                                <div class="col-sm-6">
                                    <h4>Address : <b>295 L Johar Town</b></h4>
                                </div>
                                <div class="col-sm-6">
                                    <h4>Country : <b>Pakistan</b></h4>
                                </div>
                                <div class="col-sm-6">
                                    <h4>City : <b>Lahore</b></h4>
                                </div>
                                <br><br>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="card ">
                            <div class="header">
                                <h3 class="title" style="text-align: center">Recent Jobs</h3>
                            </div>
                            <div class="content">
                                <div class="row" style="padding: 30px;">
                                    <div class="col-sm-4">
                                        <a href="#"><img src="https://lh3.googleusercontent.com/IeNJWoKYx1waOhfWF6TiuSiWBLfqLb18lmZYXSgsH1fvb8v1IYiZr5aYWe0Gxu-pVZX3" style="height: 280px;"></a>
                                    </div>
                                    <div class="col-sm-4">
                                        <a href="#"><img src="https://lh3.googleusercontent.com/IeNJWoKYx1waOhfWF6TiuSiWBLfqLb18lmZYXSgsH1fvb8v1IYiZr5aYWe0Gxu-pVZX3" style="height: 280px;"></a>

                                    </div>
                                    <div class="col-sm-4">
                                        <a href="#"><img src="https://lh3.googleusercontent.com/IeNJWoKYx1waOhfWF6TiuSiWBLfqLb18lmZYXSgsH1fvb8v1IYiZr5aYWe0Gxu-pVZX3" style="height: 280px;"></a>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="footer">
                <div class="container-fluid">
                    <nav>
                        <ul class="footer-menu">
                            <li>
                                <a href="#">
                                    Home
                                </a>
                            </li>

                        </ul>
                        <p class="copyright text-center">
                            ©
                            <script>
                                document.write(new Date().getFullYear())
                            </script>
                            <a href="/">Zeon</a>, your online destination
                        </p>
                    </nav>
                </div>
            </footer>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>